*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100%;
    display: flex;
}
.chat-list{
    /* border: 1px solid black; */
    z-index: 2;
    box-shadow: 1px 1px 30px rgb(179, 177, 177);
    height: 100vh;
    width: 25%;
}
.inbox{
    /* border: 1px solid black; */
    height: 100vh;
    width: 75%;
}
/* Logo */
.logo-section{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
#chatsApp-logo{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1.5rem;
}
#chatsApp-text{
    font-size: 0.9rem;
}
.chats-option{
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
#Chats-text{
    /* padding-top: 1.5rem; */
    /* padding-left: 1rem; */
    font-size: 1.3rem;
    font-weight: bolder;
}
#create-chatbot{
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 14.5rem;
    bottom: 0.1rem;
    font-weight: 100;
    background-color: rgb(19, 184, 19);
    color: white;
    border-radius: 50px;
    /* border: 1px solid black; */
    height: 1.3rem;
    width: 1.3rem;
    font-size: 1.1rem;
}
.chat-menu-div{
    cursor: pointer;
    position: relative;
    left:15rem;
    border-radius: 50px;
    display: flex;
    /* border: 1px solid black; */
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
}
.chat-menu-div:hover{
    background-color: rgb(218, 217, 217);
}
.menu-dot{
    border-radius: 10px;
    background-color: black;
    margin: 0.1rem;
    /* border: 1px solid black; */
    height: 4px;
    width: 4px;
}
.more-options{
    visibility: hidden;
    position: absolute;
    left: 19rem;
    top: 5rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding:0.2rem 0.5rem;
}
.more-options p{
    cursor: pointer;
    margin-top: 0.4rem;
    border-radius: 1rem;
    text-align: center;
    width: 100px;
}
.more-options p:hover{
background-color: rgb(218, 217, 217);
}
/* CHATBOT CREATION */
.add-chatbot{
    visibility: hidden;
    background-color: white;
    position: relative;
    top: 2.3rem;
    left: 7rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 185, 185);
    height: 2rem;
    width: 8rem;
}
#add-chatbot-text{
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    width: 7rem;
}
#add-chatbot-text:hover{
    background-color: rgb(194, 191, 191);
    transition: 0.2s ease-in-out;
}
/* SEARCH BOX */
.search-box{
    /* border: 1px solid rebeccapurple; */
    padding: 1rem 1rem;
}
#chat-search-box{
    height: 1.7rem;
    width: 19.5rem;
    border-radius: 0.3rem;
    border-bottom: 0.2rem solid rgb(15, 163, 15);
}
input{
    border: 1px solid rgb(197, 192, 192);
    padding: 0.6rem;
}
/* INBOX */
/* No chat selected */
.no-chat-selected{
    /* border-left: 1px solid rgb(201, 196, 196); */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#chatsApp-bodered-logo{
    position: relative;
    bottom: 50px;
    height: 10rem;
    width: 10rem;
    opacity: 0.4;
    margin-bottom: 3rem;
}
#ChatsApp-testing{
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    bottom: 60px;
}
#bug-text{
    color: grey;
    position: relative;
    bottom: 2.5rem;
    font-weight: lighter;
}
#not-encrypted{
    color: grey;
    position: absolute;
    bottom: 5rem;
}
/* INBOX AREA */
.inbox-area{
    /* visibility: hidden; */
    background-color: white;
    position: absolute;
    right: 0;
    /* border: 1px solid black; */
    width: 75%;
    height:100vh;
}
.chatbot-info{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.userprofile-pic{
    /* margin-top: 0.5rem; */
    /* border: 1px solid black; */
    height: 57px;
    width: 57px;
}
.userprofile-pic-img{
    margin-left: 0.5rem;
    border-radius: 50px;
    height: 57px;
    width: 57px;

}
.username-profileInfo{
    font-weight: 600;
    margin-left: 1rem;
    /* border: 1px solid black; */
    height: 57px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.username{
    
    /* border: 1px solid black; */
    font-weight: 600;
}
.profile-info{
    cursor: pointer;
    font-size: 0.8rem;
    /* border: 1px solid black; */
    font-weight: lighter;
    color: grey;
}
.type-message{
    /* border: 1px solid black; */
    display: flex;
    z-index: 2;
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100%;
    box-shadow: 1px 0px 30px rgb(179, 177, 177);
    text-align: center;
}
.text-message{
    width: 80%;
    position: relative;
    left: 1rem;
    border: none;
}
.send-message{
    cursor: pointer;
    border-radius: 10px;
    padding: 0rem 1rem;
    /* border: 1px solid black; */
    position: relative;
    top: 1.6rem;
    left: 2rem;
    height: 30%;
}
.send-message:hover{
    background-color: rgb(31, 205, 31);
    color: white;
    box-shadow: 1px 5px 10px rgb(179, 177, 177);
}
/* Profile pic info box */
.profile-info-box{
    visibility: hidden;
    border-radius:20px ;
    box-shadow: 10px 5px 40px grey;
    background-color: white;
    position: absolute;
    top: 4rem;
    right: 22rem;
    border: 1px solid whitesmoke;
    z-index: 4;
    height: 30vh;
    width: 20%;
}
.profile-info-box-priority{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 15vh;
    width: 50%;
    /* border: 1px solid black; */
}
.profile-info-box-pic-img{
    position: relative;
    top: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 50px;

}
.profile-info-box-about{
    height: 5vh;
    /* justify-content: center; */
    align-items: center;
    color: grey;
}
.profile-info-box-number{
    align-items: center;
    height: 5vh;
    color: grey;
}

.profile-info-box-name{
    height: 3vh;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: center;
}
/* Enter chatbot information */
input:focus{
    outline: none;
}
.enter-chatbot-information{
   visibility: hidden;
    border-radius: 1rem;
    position: relative;
    top: 8rem;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 25rem;
    border: 2px solid rgb(231, 222, 222);
}
#chatbot-name-input{
    margin-left: 0.9rem;
}
#chatbot-profile-pic{
    width: 170px;
}
.img-profile{
    border-radius: 50px;
    position: relative;
    right: 2px;
    bottom: 1px;
    /* border: 1px solid red; */
    height: 51px;
    width: 51px;
}
.enter-chatbot-information input{
    border-radius: 1rem;
    margin-top: 0.5rem;
    /* border: none; */
}
.chatbot-create-btn{
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 0.6rem;
    color: white;
    background-color: black;
    padding: 0.3rem 1rem;
    /* transition: 0.2s ease-out; */
}
.chatbot-create-btn:hover{
    box-shadow: 0.2rem 0.2rem 0.3rem grey;
    font-size: 0.9rem;
}
/* Message Box */
.messages{
    /* border: 1px solid black; */
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chatbot-message-detail{
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 1rem;
    /* border: 1px solid black; */
    width: 95%;
    height: 7vh;
    display: flex;
    justify-self: center;
    align-items: center;
}
.chatbot-message-detail:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(230, 227, 227);
}
.chatbot-profile-pic{
    z-index: 2;
    margin:0rem 0.5rem;
    /* border: 1px solid black; */
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.chatbot-name-message{
    /* border: 1px solid black; */
    height: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.chatbot-name{
    font-weight: 600;
    margin-top: 0.3rem;
    /* border: 1px solid black; */
    height: 22px;
}
.chatbot-message{
    /* border: 1px solid black; */
    height: 20px;
    font-size: 0.8rem;
    color: rgb(48, 46, 46);
}